body {
    background-color: lightgrey;
}

h1 {
    color: orange;
}

p {
    color:red;
    font-family:sans-serif;
	/*color: #0000FF;*/
}
table {
	background-color: lightgrey;

}
div.banner {
		background-color:#000066;
		position: absolute;
		top: 0px;
		width:100%;
	}
/*<style>
	.a td
	{
	padding-left: 5px;
	padding-bottom:3px;
	color: blue;
	}
</style>*/
 
#awesomeText {font-family: 'Times New Roman', Georgia, Serif;}
.soft {color:#a8a8a8;}
.center {text-align:center;}
.container {margin:0 auto;
	

